.vscode
node_modules
.vscode-test
test
.gitignore
.github
**/jsconfig.json
**/*.map
**/.eslintrc.json
src
webpack.config.js
img/**
!img/logo.png
!img/new.svg
*.md
!README.md
!CHANGELOG.md
!LICENSE.md
